<!DOCTYPE html>

<html lang="en" class="bg-gray-50">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-9EE1PFXDP2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-9EE1PFXDP2');
  </script>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% set permalink = section.permalink
  | default(value=page.permalink
  | default(value="")) %}

  {% if permalink and permalink is not starting_with("/") %}
  <link rel="canonical" href="{{ permalink | safe }}" />
  {% endif %}

  {% set title = section.title
  | default(value=page.title
  | default(value="Intercollegiate Math Tournament")) %}

  <title>{{ title }}</title>
  <meta name="og:title" content="{{ title }}" />

  {% set description = section.description
  | default(value=section.summary
  | default(value=page.description
  | default(value=page.summary
  | default(value=""))))
  | striptags
  | split(pat="\n")
  | join(sep=" ") %}

  {% if description %}
  <meta name="description" content="{{ description }}" />
  <meta name="og:description" content="{{ description }}" />
  {% endif %}

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Intercollegiate Math Tournament" />

  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link rel="stylesheet" href="/style.css?{{ get_random(end=1000000) }}" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css" crossorigin="anonymous" />
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.js" crossorigin="anonymous"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/contrib/auto-render.min.js" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {delimiters: [{left: '$$', right: '$$', display: true}, {left: '$', right: '$', display: false}]});"></script>

  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="ICMT" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
</head>

<body>
  <div class="absolute inset-0 -z-1" id="illustration"></div>

  <header class="border-b border-gray-200 bg-transparent">
    <nav class="max-w-5xl mx-auto px-8 py-5 flex justify-center gap-8 text-sm font-medium">
      <a href="/" class="text-gray-700 hover:text-blue-600 transition-colors">
        Home
      </a>
        <a href="/about" class="text-gray-700 hover:text-blue-600 transition-colors">        
          Tournament Info
      </a>
      <a href="/2027" class="text-gray-700 hover:text-blue-600 transition-colors">
        Register now
      </a>
      <a href="http://127.0.0.1:1111/archives/2026/" class="text-gray-700 hover:text-blue-600 transition-colors">
        Problem Archive
      </a>
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdzwHQnD-cc0iVgPnt8jKMEu7gFn1IMNBS6BE-p1sQMzayJqg/viewform" class="text-gray-700 hover:text-blue-600 transition-colors">
        Join our mailing list!
      </a>
    </nav>
  </header>

  {% block content %}
  {% endblock %}
</body>

</html>
