<!DOCTYPE html>

<html lang="en" class="bg-gray-50">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  {% set permalink = section.permalink
  | default(value=page.permalink
  | default(value="")) %}

  {% if permalink and permalink is not starting_with("/") %}
  <link rel="canonical" href="{{ permalink | safe }}" />
  {% endif %}

  {% set title = section.title
  | default(value=page.title
  | default(value="Intercollegiate Math Tournament")) %}

  <title>{{ title }}</title>
  <meta name="og:title" content="{{ title }}" />

  {% set description = section.description
  | default(value=section.summary
  | default(value=page.description
  | default(value=page.summary
  | default(value=""))))
  | striptags
  | split(pat="\n")
  | join(sep=" ") %}

  {% if description %}
  <meta name="description" content="{{ description }}" />
  <meta name="og:description" content="{{ description }}" />
  {% endif %}

  <meta property="og:type" content="website" />
  <meta property="og:site_name" content="Intercollegiate Math Tournament" />

  <link rel="preconnect" href="https://rsms.me/" />
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  <link rel="stylesheet" href="/style.css?{{ get_random(end=1000000) }}" />

  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="ICMT" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
