{% extends "base.html" %}

{% block content %}

<div class="max-w-3xl mx-auto flex flex-col gap-4 items-center justify-center px-8 py-16 md:pt-32 text-center">
  <img class="w-16" src="{{ get_url(path="assets/logo.svg") }}" />
  <h1 class="font-bold text-4xl">Intercollegiate Math Tournament</h1>
  <div class="flex flex-col md:flex-row md:gap-16">
    <p class="text-xl">Columbia University</p>
    <p class="text-xl">February 28, 2026</p>
  </div>
  <p>Registration will open Fall 2025. <a class="text-link" href="https://ic.mt/register">Pre-register here for updates.</a></p>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 30 1440 90"><path class="fill-blue-500/10" fill-opacity="1" d="M0,96L60,85.3C120,75,240,53,360,58.7C480,64,600,96,720,101.3C840,107,960,85,1080,69.3C1200,53,1320,43,1380,37.3L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

<div class="bg-blue-500/10">
  <p class="max-w-3xl mx-auto text-lg text-center px-8 py-8 md:pb-6">
    Run by graduate students and alumni from the
    <a class="text-link" href="https://berkeley.mt/">Berkeley</a>,
    <a class="text-link" href="https://stanfordmathtournament.org/">Stanford</a>, and
    <a class="text-link" href="https://www.hmmt.org/">Harvard–MIT</a> Math Tournaments,
    ICMT is an independent nonprofit organization that aims to spread mathematics
    and the spirit of mathematical competition to undergraduate students around
    the world.
  </p>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 150 1440 70"><path class="fill-blue-500/10" fill-opacity="1" d="M0,192L60,181.3C120,171,240,149,360,160C480,171,600,213,720,213.3C840,213,960,171,1080,160C1200,149,1320,171,1380,181.3L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

<div class="max-w-4xl mx-auto text-center flex flex-col gap-4 px-8 py-16">
  <h2 class="font-semibold text-2xl">Who's this for?</h2>

  <p>
    Eligibility for registration: <em>Each participant must be an actively enrolled undergraduate student at a college or university, who has not yet received a bachelor's degree.</em>
  </p>

  <div class="grid sm:grid-cols-2 gap-4">
    <div class="flex flex-col gap-4">
      <div class="border border-2 p-4 rounded-xl relative">
        <!-- <img class="absolute h-12 right-4 top-1/2 -translate-y-1/2" src="{{ get_url(path="assets/penguin-lambda.png") }}" /> -->
        <h3 class="font-semibold text-lg">Division A</h3>
        <p class="italic">For the seasoned contestant</p>
      </div>
      <p>
        In addition to the Division B syllabus, topics include linear algebra,
        abstract algebra, real and complex analysis, as well as other
        undergraduate subjects.
      </p>
      <p>
        <a href="/assets/sample-problems-a.pdf" class="text-link">View Division A sample problems here!</a>
        <br>
        <span class="text-gray-500 italic">(updated July 10, 2025)</span>
      </p>
    </div>

    <div class="flex flex-col gap-4">
      <div class="border border-2 p-4 rounded-xl relative">
        <!-- <img class="absolute h-12 left-4 top-1/2 -translate-y-1/2" src="{{ get_url(path="assets/penguin-delta.png") }}" /> -->
        <h3 class="font-semibold text-lg">Division B</h3>
        <p class="italic">For the novice contestant</p>
      </div>
      <p>
        Topics include
        <a class="text-link" href="https://artofproblemsolving.com/wiki/index.php/AMC_12">high school math competition subjects</a>,
        as well as single- and multi-variable calculus, differential
        equations, and basic linear algebra.
      </p>
      <p>
        <a href="/assets/sample-problems-b.pdf" class="text-link">View Division B sample problems here!</a>
        <br>
        <span class="text-gray-500 italic">(updated July 10, 2025)</span>
      </p>
    </div>
  </div>
</div>

<div class="max-w-3xl mx-auto items-center flex flex-col gap-4 px-8 py-16">
  <h2 class="font-semibold text-2xl">Guest Speaker</h2>

  <div class="flex gap-8 items-center">
    <img
      class="w-32 h-32 object-cover"
      src="{{ get_url(path="assets/brady.jpg") }}"
    />
    <div class="flex flex-col gap-2">
      <p class="text-2xl font-bold">Brady Haran</p>
      <p>
        Brady Haran is the creator of <a href="https://www.youtube.com/numberphile" class="text-link">Numberphile</a>, along with other math and science YouTube
        channels. His projects have over 11 million subscribers and 1.4 billion views. He is based
        in the UK but travels the world interviewing experts and telling their stories.
      </p>
    </div>
  </div>
</div>

<div class="max-w-6xl mx-auto text-center flex flex-col gap-4 px-8 py-16">
  <h2 class="font-semibold text-2xl">Contest Format</h2>

  <p>
    ICMT consists of two team-based rounds and one individual round.
  </p>
  <p>
    Teams may have up to 4 students. Teammates do not need to be from the same university.
  </p>

  <div class="grid md:grid-cols-3 gap-4">
    <div class="bg-white shadow rounded-xl p-4 flex flex-col items-center gap-2">
      <!-- Explosion icon by Freepik - https://www.flaticon.com/free-icons/explosion -->
      <img class="h-24 w-24 p-2" src="{{ get_url(path="assets/round-power.png") }}" />
      <h3 class="font-semibold text-lg">Power Round</h3>
      <p>
        A proof-based team round. Contestants answer a series of questions
        centered around a topic, culminating in incredible results in the field
        of that chosen topic.
      </p>
    </div>

    <div class="bg-white shadow rounded-xl p-4 flex flex-col items-center gap-2">
      <!-- Penguin icon by Freepik - https://www.flaticon.com/free-icons/penguin -->
      <img class="h-24 w-24" src="{{ get_url(path="assets/round-individual.png") }}" />
      <h3 class="font-semibold text-lg">Individual Round</h3>
      <p>
        Contestants complete a series of short-answer questions ranging over a
        broad reach of mathematical topics covered within their division.
      </p>
    </div>

    <div class="bg-white shadow rounded-xl p-4 flex flex-col items-center gap-2">
      <!-- Constellation icon by imaginationlol - https://www.flaticon.com/free-icons/constellation -->
      <img class="h-24 w-24" src="{{ get_url(path="assets/round-constellation.png") }}" />
      <h3 class="font-semibold text-lg">Constellation Round</h3>
      <p>
        With realtime submission and a live scoreboard, this round tests not
        only teams&rsquo; mathematical knowledge, but also strategic planning
        and quick thinking.
      </p>
    </div>
  </div>
</div>

<div class="max-w-6xl mx-auto text-center flex flex-col gap-8 px-8 py-16">
  <h2 class="font-semibold text-2xl">Sponsors</h2>

  <div class="flex gap-x-16 gap-y-4 flex-wrap justify-center items-center">
    <a href="https://www.hudsonrivertrading.com/">
      <img class="max-h-32" src="{{ get_url(path="sponsors/hrt.png") }}" />
    </a>
    <!--<a href="https://ma.stat.columbia.edu/">
      <img class="max-h-32" src="{{ get_url(path="sponsors/columbia-statistics.png") }}" />
    </a>-->
  </div>

  <hr class="border-gray-400 border-dotted w-1/2 self-center" />

  <div class="flex gap-x-16 gap-y-4 flex-wrap justify-center items-center">
    <a href="https://www.citadel.com/">
      <img class="max-h-16" src="{{ get_url(path="sponsors/citadel.png") }}" />
    </a>
    <a href="https://www.youtube.com/c/blackpenredpen">
      <img class="max-h-8" src="{{ get_url(path="sponsors/blackpenredpen.png") }}" />
    </a>
  </div>

  <hr class="border-gray-400 border-dotted w-1/2 self-center items-center" />

  <div class="flex gap-x-16 gap-y-4 flex-wrap justify-center">
    <a href="https://www.janestreet.com/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/jane-street.png") }}" />
    </a>
    <a href="https://artofproblemsolving.com/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/aops.png") }}" />
    </a>
    <a href="https://www.math.columbia.edu/~ums/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/columbia-ums.png") }}" />
    </a>
    <a href="https://outreach.engineering.columbia.edu/content/society-industrial-and-applied-mathematics-cu-siam">
      <img class="max-h-12" src="{{ get_url(path="sponsors/columbia-siam.png") }}" />
    </a>
    <a href="https://www.columbiaquantgroup.com/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/columbia-quant-group.png") }}" />
    </a>
  </div>
</div>

<div class="max-w-5xl mx-auto flex flex-col items-center gap-4 px-8 py-16">
  <h2 class="font-semibold text-2xl text-center">Our Team</h2>

  <h3 class="font-semibold text-xl text-center">Core</h3>
  <div class="grid lg:grid-cols-2 gap-8">
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/aditya.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Aditya Baireddy</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2024–2025)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/lindrew.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Andrew Lin</p>
        <p>Problem Writer, Berkeley Math Tournament (2019–2023)</p>
        <p>Ph.D. Student, Princeton University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/handrew.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Andrew Huang</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2023–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/arpit.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Arpit Ranasaria</p>
        <p>Tournament Director, Stanford Math Tournament (2021–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/arpon.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Arpon Basu</p>
        <p>Ph.D. Student, Princeton University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/austin.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Austin Lei</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2019–2021)</p>
        <p>Ph.D. Student, Columbia University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Benjamin Eisley</p>
        <p>Ph.D. Student, New York University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/carl.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Carl Sun</p>
        <p>Problem Writer, Berkeley Math Tournament (2022–)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/douglas.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Douglas Chen</p>
        <p>Dictator, Johns Hopkins Math Tournament (2021–2024)</p>
        <p>Ph.D. Student, Columbia University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Eric Tao</p>
        <p>Ph.D. Student, New York University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/freya.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Freya Edholm</p>
        <p>External Relations Director, Harvard–MIT Math Tournament (2020–2021)</p>
        <p>Problem Writer, Berkeley Math Tournament &amp; mathleague.org (2018–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Jessie Tan</p>
        <p>Problem Writer, Berkeley Math Tournament (2025–)</p>
        <p>Ph.D. Student, UC Berkeley</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/jingy.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Jingyuan Chen</p>
        <p>Logistics Organizer, Berkeley Math Tournament (2022–2024)</p>
        <p>Ph.D. Student, University of Illinois Urbana-Champaign</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/joey.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Joey Heerens</p>
        <p>Problem Czar, Harvard–MIT Math Tournament (2021–2022)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/kaity.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Kaitlyn Du</p>
        <p>Tournament Director, Berkeley Math Tournament (2021–2022)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/kieran.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Kieran Yu</p>
        <p>Head Problem Writer, Stanford Math Tournament (2021–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Mattie Ji</p>
        <p>Ph.D. Student, University of Pennsylvania</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/misha.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Misha Ivkov</p>
        <p>Tournament Director, Carnegie Mellon Informatics and Mathematics Competition (2019–2021)</p>
        <p>Problem Writer, Stanford Math Tournament (2021–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/nikhil.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Nikhil Shanbhag</p>
        <p>Problem Writer, Berkeley Math Tournament (2022–2024)</p>
        <p>M.S. Student, Columbia University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/nir.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Nir Elber</p>
        <p>Ph.D. Student, Massachusetts Institute of Technology</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/oliver.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Oliver Ni</p>
        <p>Tournament Director, Berkeley Math Tournament (2025–)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/robert.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Robert Trosten</p>
        <p>Problem Writing Head, Carnegie Mellon Informatics and Mathematics Competition (2024–2025)</p>
        <p>Ph.D. Student, New York University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/rohit.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Rohit Agarwal</p>
        <p>Problem Writer, Berkeley Math Tournament (2020–2024)</p>
        <p>Ph.D. Student, Princeton University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Taman Truong</p>
        <p>Problem Writer, mathleague.org (2020–2023)</p>
        <p>Ph.D. Student, University of Southern California</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Yuepeng Alex Yang</p>
        <p>Problem Writer, Berkeley Math Tournament (2021–)</p>
        <p>Problem Writer, Stanford Math Tournament (2021–)</p>
        <p>Problem Writer, UK University Integration Bee (2023–)</p>
      </div>
    </div>
  </div>

  <h3 class="mt-4 font-semibold text-xl text-center">Advising</h3>

  <div class="grid lg:grid-cols-2 gap-8">
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/evan.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Evan Chen</p>
        <p>Assistant Academic Director, MOP (2016–)</p>
        <p>Benevolent Dictator, OTIS (2015–)</p>
        <p>IMO Gold Medalist (2014)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/james.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">James Leng</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2018–2019)</p>
        <p>Ph.D. Student, University of California Los Angeles</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/justin.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Justin Yokota</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2018–2019)</p>
        <p>Lecturer in Computer Science, UC Berkeley</p>
      </div>
    </div>
  </div>
</div>

<div class="max-w-4xl mx-auto flex flex-col items-center text-sm text-gray-500 px-8 py-16 text-center">
  <p>Copyright &copy; 2025 Intercollegiate Math Tournament Group, a California nonprofit public benefit corporation.</p>
  <p>ICMTG is exempt from federal income tax under section 501(c)(3) of the Internal Revenue Code. EIN: 33-3765111</p>
  <p>Questions? Want to sponsor? Reach us at team@intercollegiatemathtournament.org.</p>
</div>

{% endblock %}
