{% extends "base.html" %}

{% block content %}

<div class="max-w-3xl mx-auto flex flex-col gap-4 items-center justify-center px-8 py-16 md:pt-32 text-center">
  <img class="w-16" src="{{ get_url(path="assets/logo.svg") }}" />
  <h1 class="font-bold text-4xl">Intercollegiate Math Tournament</h1>
  <div class="flex flex-col md:flex-row md:gap-16">
    <!-- <p class="text-xl">Columbia University</p>
    <p class="text-xl">February 28, 2026</p> -->
  </div>
  <p class="text-lg text-gray-600">
    <span class="font-semibold text-gray-900"><span>$</span>20,000</span> in Cash Prizes · <span class="font-semibold text-gray-900"><span>$</span>8,000</span> Top Prize
  </p>
  <!-- <div class="flex flex-col sm:flex-row gap-4">
    <a href="https://docs.google.com/forms/d/e/1FAIpQLScT2f6huN7jxNEzCEJ1T6KtUpPZAECDTLkxxsl3MVRmsUaN5Q/viewform?usp=sharing&ouid=115752105198797570657" class="flex items-center gap-2 border border-blue-200 bg-blue-50 hover:bg-blue-100 rounded-full pl-1.5 pr-3 py-1.5 text-sm text-gray-700 transition-colors">
      <span class="bg-blue-600 text-white text-xs font-bold px-2 py-0.5 rounded-full">NEW</span> Do you want to join ICMT? →
    </a>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSe6h2fz3riz_hZKFok21MBumAsKEwzF3_BhcPUtG-rNTJsC6w/viewform?usp=sharing&ouid=115752105198797570657" class="flex items-center gap-2 border border-blue-200 bg-blue-50 hover:bg-blue-100 rounded-full pl-1.5 pr-3 py-1.5 text-sm text-gray-700 transition-colors">
      <span class="bg-blue-600 text-white text-xs font-bold px-2 py-0.5 rounded-full">NEW</span> Do you want to host ICMT at your university? →
    </a>
  </div>
  <a href="/archives/2026/" class="flex items-center gap-2 border border-blue-200 bg-blue-50 hover:bg-blue-100 rounded-full pl-1.5 pr-3 py-1.5 text-sm text-gray-700 transition-colors" style="padding-left: 12px">
    ICMT 2026 results and solutions are out →
  </a>
  <a href="/icmt-2026" class="text-gray-500 hover:text-gray-700 text-sm transition-colors">
    Registration & Logistics Information →
  </a> -->
</div>

<div class="not-prose text-center">
  <div class="inline-block bg-gradient-to-r from-blue-50 to-blue-100 border border-blue-400 text-gray-900 font-semibold px-6 py-3 rounded-md text-center">
    ICMT 2027 will be held at the University of California, Berkeley. Registration is not yet open. Join our mailing list to be notified when it opens!
  </div>
</div>



<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 30 1440 90" class="block -mb-px"><path class="fill-blue-500/10" fill-opacity="1" d="M0,96L60,85.3C120,75,240,53,360,58.7C480,64,600,96,720,101.3C840,107,960,85,1080,69.3C1200,53,1320,43,1380,37.3L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>

<div class="bg-blue-500/10">
  <p class="max-w-3xl mx-auto text-lg text-center px-8 py-8 md:pb-6">
    Run by graduate students and alumni from the
    <a class="text-link" href="https://berkeley.mt/">Berkeley</a>,
    <a class="text-link" href="https://stanfordmathtournament.org/">Stanford</a>, and
    <a class="text-link" href="https://www.hmmt.org/">Harvard-MIT</a> Math Tournaments,
    ICMT is an independent nonprofit organization that aims to spread mathematics
    and the spirit of mathematical competition to undergraduate students around
    the world.
  </p>
  <div class="mt-6 mb-8 md:mb-6 mx-auto max-w-xl self-center rounded-xl px-6 py-5 text-center">
    <a href="/about/" class="inline-block text-link">Learn about the tournament →</a>
  </div>
</div>

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 150 1440 70" class="block -mt-px"><path class="fill-blue-500/10" fill-opacity="1" d="M0,192L60,181.3C120,171,240,149,360,160C480,171,600,213,720,213.3C840,213,960,171,1080,160C1200,149,1320,171,1380,181.3L1440,192L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path></svg>

<!-- <div class="max-w-3xl mx-auto items-center flex flex-col gap-4 px-8 py-16">
  <h2 class="font-semibold text-2xl">Guest Speaker</h2>

  <div class="flex gap-8 items-center">
    <img
      class="w-32 h-32 object-cover"
      src="{{ get_url(path="assets/brady.jpg") }}"
    />
    <div class="flex flex-col gap-2">
      <p class="text-2xl font-bold">Brady Haran</p>
      <p>
        Brady Haran is the creator of <a href="https://www.youtube.com/numberphile" class="text-link">Numberphile</a>, along with other math and science YouTube
        channels. His projects have over 11 million subscribers and 1.4 billion views. He is based
        in the UK but travels the world interviewing experts and telling their stories.
      </p>
    </div>
  </div>
</div> -->

<div class="max-w-6xl mx-auto text-center flex flex-col gap-8 px-8 py-16">
  <h2 class="font-semibold text-2xl">Sponsors</h2>

  <div class="flex gap-x-16 gap-y-4 flex-wrap justify-center items-center">
    <a href="https://www.hudsonrivertrading.com/">
      <img class="max-h-32" src="{{ get_url(path="sponsors/hrt.png") }}" />
    </a>
    <a href="https://ma.stat.columbia.edu/">
      <img class="max-h-32" src="{{ get_url(path="sponsors/columbia-statistics.png") }}" />
    </a>
  </div>

  <hr class="border-gray-400 border-dotted w-1/2 self-center" />

  <div class="flex gap-x-16 gap-y-4 flex-wrap justify-center items-center">
    <a href="https://sig.com/">
      <img class="max-h-10" src="{{ get_url(path="sponsors/susquehanna.png") }}" />
    </a>
    <a href="https://cognition.ai/">
      <img class="max-h-10" src="{{ get_url(path="sponsors/cognition.png") }}" />
    </a>
  </div>

  <hr class="border-gray-400 border-dotted w-1/2 self-center" />

  <div class="flex gap-x-16 gap-y-4 flex-wrap justify-center items-center">
    <a href="https://www.citadel.com/">
      <img class="max-h-16" src="{{ get_url(path="sponsors/citadel.png") }}" />
    </a>
    <a href="https://www.columbiaquantgroup.com/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/columbia-quant-group.png") }}" />
    </a>
  </div>

  <hr class="border-gray-400 border-dotted w-1/2 self-center items-center" />

  <div class="flex gap-x-16 gap-y-4 flex-wrap justify-center items-center">
    <a href="https://www.janestreet.com/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/jane-street.png") }}" />
    </a>
    <a href="https://contestdojo.com/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/contestdojo.png") }}" />
    </a>
    <a href="https://www.math.columbia.edu/~ums/">
      <img class="max-h-12" src="{{ get_url(path="sponsors/columbia-ums.png") }}" />
    </a>
    <a href="https://www.youtube.com/c/blackpenredpen">
      <img class="max-h-8" src="{{ get_url(path="sponsors/blackpenredpen.png") }}" />
    </a>
  </div>
</div>

<div class="max-w-5xl mx-auto flex flex-col items-center gap-4 px-8 py-16">
  <h2 class="font-semibold text-2xl text-center">Our Team</h2>

  <h3 class="font-semibold text-xl text-center">Core</h3>
  <div class="grid lg:grid-cols-2 gap-8">
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/aditya.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Aditya Baireddy</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2024–2025)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Albert Wang</p>
        <p>Problem Writer, Harvard-MIT Math Tournament (2022–2026)</p>
        <p>Ph.D. Student, Columbia University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/AmyQiao.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Amy Qiao</p>
        <p>Problem Writer, Brown University Math Olympiad (2024–2026)</p>
        <p>Ph.D. Student, MIT</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/lindrew.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Andrew Lin</p>
        <p>Problem Writer, Berkeley Math Tournament (2019–2023)</p>
        <p>Ph.D. Student, Princeton University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/handrew.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Andrew Huang</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2023–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Andy Zhang</p>
        <p>Rutgers University (2020–2025)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/arpit.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Arpit Ranasaria</p>
        <p>Tournament Director, Stanford Math Tournament (2021–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/arpon.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Arpon Basu</p>
        <p>Ph.D. Student, Princeton University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/austin.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Austin Lei</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2019–2021)</p>
        <p>Ph.D. Student, Columbia University</p>
      </div>
    </div>
    <!--<div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Benjamin Eisley</p>
        <p>Ph.D. Student, New York University</p>
      </div>
    </div>-->
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/carl.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Carl Sun</p>
        <p>Problem Writer, Berkeley Math Tournament (2022–)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/XuesiRuan.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Cat Ruan</p>
        <p>Logistics Organizer, Berkeley Math Tournament (2022–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/ChrisChang.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Chris Chang</p>
        <p>Ph.D. Student, USC</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/DavidBan.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">David Ban</p>
        <p>Logistics Organizer, Berkeley Math Tournament (2022–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/douglas.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Douglas Chen</p>
        <p>Director, Johns Hopkins Math Tournament (2021–2024)</p>
        <p>Ph.D. Student, Columbia University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Easton Singer</p>
        <p>Ph.D. Student, Princeton University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/EdwinLin.jpeg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Edwin Lin</p>
        <p>UCSC (2021–2026)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/freya.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Freya Edholm</p>
        <p>External Relations Director, Harvard-MIT Math Tournament (2020–2021)</p>
        <p>Problem Writer, Berkeley Math Tournament &amp; mathleague.org (2018–2024)</p>
      </div>
    </div>
    <!--<div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Jessie Tan</p>
        <p>Problem Writer, Berkeley Math Tournament (2025–)</p>
        <p>Ph.D. Student, UC Berkeley</p>
      </div>
    </div>-->
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/HanNguyen.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Han Nguyen</p>
        <p>M.S. Student, ASU</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Henry Liev</p>
        <p>Berkeley Math Tournament Operations & Activities (2025-)</p>
        <p>M.S. Student, UCLA</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Isabella Zhu</p>
        <p>Problem Czar, Harvard-MIT Math Tournament (2024–2025)</p>
        <p>Ph.D. Student, MIT</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/JakobBachhausen.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Jakob Bachhausen</p>
        <p>UIUC (2022-2026)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Jessie Tan</p>
        <p>Ph.D. Student, California, Berkeley</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/jingy.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Jingyuan Chen</p>
        <p>Logistics Organizer, Berkeley Math Tournament (2022–2024)</p>
        <p>Ph.D. Student, UIUC</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/joey.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Joey Heerens</p>
        <p>Problem Czar, Harvard-MIT Math Tournament (2021–2022)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Jonathan Sy</p>
        <p>Logistics Organizer, Berkeley Math Tournament (2022-2025)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/JoshGrumski-Flores.JPG") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Josh Grumski-Flores</p>
        <p>Ph.D. Student, ASU</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Justin Wu</p>
        <p>Ph.D. Student, Yale University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/kaity.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Kaitlyn Du</p>
        <p>Tournament Director, Berkeley Math Tournament (2021–2022)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/kieran.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Kieran Yu</p>
        <p>Head Problem Writer, Stanford Math Tournament (2021–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Mattie Ji</p>
        <p>Ph.D. Student, University of Pennsylvania</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/misha.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Misha Ivkov</p>
        <p>Tournament Director, Carnegie Mellon Informatics and Mathematics Competition (2019–2021)</p>
        <p>Problem Writer, Stanford Math Tournament (2021–2024)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/nikhil.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Nikhil Shanbhag</p>
        <p>Problem Writer, Berkeley Math Tournament (2022–2024)</p>
        <p>M.A. Student, Columbia University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/nir.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Nir Elber</p>
        <p>Ph.D. Student, MIT</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/oliver.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Oliver Ni</p>
        <p>Tournament Director, Berkeley Math Tournament (2025–)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Pitchayut Saengrungkongka</p>
        <p>Problem Writer, Harvard-MIT Math Tournament (2022-2026)</p>
        <p>Ph.D. Student, Harvard University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/RichardChen.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Richard Chen</p>
        <p>Head Problem Writer, SCMC (2022-2026)</p>
        <p>M.A. Student, UCSD</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/robert.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Robert Trosten</p>
        <p>Problem Writing Head, Carnegie Mellon Informatics and Mathematics Competition (2024–2025)</p>
        <p>Ph.D. Student, NYU</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/rohit.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Rohit Agarwal</p>
        <p>Problem Writer, Berkeley Math Tournament (2020–2024)</p>
        <p>Ph.D. Student, Princeton University</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Sabine Shashaty</p>
        <p>Logistics Organizer, Berkeley Math Tournament (2022-2026)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Sirena Yu</p>
        <p>MIT (2019-2023)</p>
      </div>
    </div>
        <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/StefanStealey-Euchner.jpeg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Stefan Stealey-Euchner</p>
        <p>M.S. Student, ASU</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/taman.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Taman Truong</p>
        <p>Problem Writer, mathleague.org (2020–2023)</p>
        <p>Ph.D. Student, USC</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Timothe Kasriel</p>
        <p>Operations Organizer, Berkeley Math Tournament (2022–2026)</p>
        <p>Ph.D. Student, University of Michigan</p>
      </div>
    </div>
        <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Vincent Sin</p>
        <p>ASU (2020-2023)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/yannick.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Yannick Yao</p>
        <p>Problem Czar, Harvard-MIT Math Tournament (2017–2018)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/placeholder.png") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Yuepeng Alex Yang</p>
        <p>Problem Writer, Berkeley Math Tournament (2021–)</p>
        <p>Problem Writer, Stanford Math Tournament (2021–)</p>
        <p>Problem Writer, UK University Integration Bee (2023–)</p>
      </div>
    </div>
  </div>

  <h3 class="mt-4 font-semibold text-xl text-center">Advising</h3>

  <div class="grid lg:grid-cols-2 gap-8">
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/evan.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Evan Chen</p>
        <p>Assistant Academic Director, MOP (2016–)</p>
        <p>Benevolent Dictator, OTIS (2015–)</p>
        <p>IMO Gold Medalist (2014)</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/james.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">James Leng</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2018–2019)</p>
        <p>Ph.D. Student, UCLA</p>
      </div>
    </div>
    <div class="flex items-center gap-6">
      <img class="w-28 h-28 shrink-0 rounded-full object-cover" src="{{ get_url(path="team/justin.jpg") }}" />
      <div class="flex flex-col gap-1 leading-6">
        <p class="font-semibold text-xl">Justin Yokota</p>
        <p>Head Problem Writer, Berkeley Math Tournament (2018–2019)</p>
        <p>Lecturer in Computer Science, UC Berkeley</p>
      </div>
    </div>
  </div>
</div>

<div class="max-w-4xl mx-auto flex flex-col items-center text-sm text-gray-500 px-8 py-16 text-center">
  <p>Copyright &copy; 2026 Intercollegiate Math Tournament Group, a California nonprofit public benefit corporation.</p>
  <p>ICMTG is exempt from federal income tax under section 501(c)(3) of the Internal Revenue Code. EIN: 33-3765111</p>
  <p>Questions? Want to sponsor? Reach us at team@intercollegiatemathtournament.org.</p>
</div>

{% endblock %}
